<!DOCTYPE html>
<html ng-app>
<head>
	<meta charset="utf-8"/>
	<title>60 Minutes</title>
	<script type="text/javascript" src="angular.min.js"></script>
</head>

<body ng-init="clientes=[{nome:'Maria da Guia',cidade:'Teresina-PI'}, {nome:'Joao José',cidade:'Timon-PI'},{nome:'Pedro Ray',cidade:'Altos-PI'}]">	

	<h3>Filtros</h3>

	<input type="text" placeholder="Pesquisar" ng-model="nome" />
	
	<ul>
		<li ng-repeat="cliente in clientes | filter:nome | orderBy:'cidade'">{{ cliente.nome}} - {{ cliente.cidade}}</li>
	</ul>

</body>

</html>