<!DOCTYPE html>
<html ng-app>
<head>
	<title>60 Minutes</title>
	<script type="text/javascript" src="angular.min.js"></script>
</head>
<body ng-init="names=['maria','joao']">	

	<h3>Loops com diretiva ng-repeat</h3>
	
	<ul>
		<li ng-repeat="name in names">{{($index+1) + '-' + name }} </li>
	</ul>

</body>
</html>