<!DOCTYPE html>
<html ng-app>
<head>
	<title>NG-Repeat</title>
	<script src="angular.min.js"></script>
</head>
<body ng-init="names=['maria','joao','rogerio']">	

	<h3>Loops com diretiva ng-repeat</h3>
	
	<ul>
		<li ng-repeat="name in names">{{ name | uppercase}} </li>
	</ul>

</body>
</html>
