<!DOCTYPE html>
<html ng-app>
<head>
	<title>Primeiro Exemplo</title>
	<script	src="angular.min.js" ></script>
</head>
<body>	

	<input type="text"  ng-model="nome"
		placeholder="Digite seu nome" /> 

	{{ nome }}

</body>
</html>
