<!DOCTYPE html>
<html ng-app="demoApp">
<head>
	<meta charset="utf-8"/>
	<title>60 Minutes</title>
	<script type="text/javascript" src="angular.min.js"></script>
	
	<script type="text/javascript">

		var demoApp = angular.module('demoApp',[]);

		var controllers = {}
		
		controllers.SimpleController = function($scope){

			$scope.clientes =[
				{nome:'Maria da Guia',cidade:'Teresina-PI'},
				{nome:'Joao José',cidade:'Timon-PI'},
				{nome:'Pedro Ray',cidade:'União-PI'}
			];
		};

		demoApp.controller(controllers);

	</script>
</head>
<body>	

	<div ng-controller="SimpleController">
		<h3>Controller, View e Scope</h3>

		<input type="text" placeholder="Pesquisar" ng-model="nome" />
		
		<ul>
			<li ng-repeat="cliente in clientes | filter:nome">{{ cliente.nome}} - {{ cliente.cidade}}</li>
		</ul>

	</div>

</body>
</html>