<h3>Material, view 3</h3>

<input type="text" placeholder="Pesquisar" ng-model="nome" />

<md-list>
	<md-list-item class="md-2-line" ng-repeat="cliente in clientes | filter:nome | orderBy:'nome':true">
		    <div class="md-list-item-text">
		      <h3>{{cliente.nome}}</h3>
		      <p>{{cliente.cidade}}</p>
		    </div>
	</md-list-item>
</md-list>

<a href="#/view1">Gerenciar Clientes</a>

