<h3>Routes, view 2</h3>

<input type="text" placeholder="Pesquisar" ng-model="nome" />

<ul>
	<li ng-repeat="cliente in clientes | filter:nome | orderBy:'nome':true">
		{{ cliente.nome}} - {{ cliente.cidade}}
	</li>
</ul>

<a href="#/view1">Gerenciar Clientes</a>

