<span>{{status}}</span>

<h3>Routes, view 1</h3>

<input type="text" placeholder="Pesquisar" ng-model="nome" />

<ul>
	<li ng-repeat="client in clientes | filter:nome | orderBy: 'nome'">
		{{ client.nome }} - {{ client.cidade }}
		<button ng-click="editCliente( client )">Editar</button>
		<button ng-click="delCliente( client )">Apagar</button>
	</li>
</ul>

<br/>
Nome do Cliente:
<input type="text" ng-model="cliente.nome" />
<br />
Cidade:
<input type="text" ng-model="cliente.cidade" />
<br />
<button ng-click="addCliente()">Gravar Cliente</button>
<br />

<a href="#/view2">Lista Clientes</a>